body {
  background-image: url(../src/assets/background.png);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Kanit', sans-serif;
}
img {
  box-shadow: 2px 6px 2px #6852ac;
  transition: 0px;
  border-radius: 10px;
}
img:active {
  box-shadow: 0;
  transform: translateY(6px); /*下に動く*/
  box-shadow: none;
}
.container {
  display: flex;
  flex-direction: row;

  justify-content: center;
  gap: 20px;
}

ul {
  list-style: none;
  background-color: #ffeff7;

  margin: 0;
  border-radius: 10px;
  padding: 10px;
}
li {
  padding: 10px;
  font-size: 20px;
  color: #6852ac;
  font-weight: 600;
  letter-spacing: 1.5px;
}
